# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
backend/venv/
backend/storage/
backend/music.db
backend/.env

# Node
node_modules/
mobile/.expo/
mobile/android/
mobile/ios/
*.tgz
.mobile/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
